<div class="card p-5 bg-light mb-4">
  <h1>Rovensal</h1>
  <h3 class="text-muted">Aprende y practica Angular</h3>
  <h5 class="text-muted">Proyecto intermodular - Reto 3 - Curso 2025-2026</h5>
</div>

<nav>  
  <ul>
    <li><a routerLink="/alcalde">Alcalde</a></li>
    <li><a routerLink="/alcanyiz">Alcanyiz</a></li>
    <li><a routerLink="/alfonso">Alfonso</a></li>
    <li><a routerLink="/calinescu">Calinescu</a></li>
    <li><a routerLink="/castanyera">Castanyera</a></li>
    <li><a routerLink="/contreras">Contreras</a></li>
    <li><a routerLink="/fernandez">Fernandez</a></li>
    <li><a routerLink="/garcia">Garcia</a></li>
    <li><a routerLink="/pallas">Pallas</a></li>
    <li><a routerLink="/palomares">Palomares</a></li>
    <li><a routerLink="/pavon">Pavon</a></li>
    <li><a routerLink="/reyna">Reyna</a></li>
    <li><a routerLink="/salinas">Salinas</a></li>
    <li><a routerLink="/sempertegui">Sempertegui</a></li>
    <li><a routerLink="/silvestre">Silvestre</a></li>
    <li><a routerLink="/soares">Soares</a></li>
    <li><a routerLink="/uski">Uski</a></li>
    <li><a routerLink="/zanon">Zanon</a></li>
  </ul>
</nav>
